<div class="main">
  <div class="d-flex align-items-center">
    <img src="https://cdn.meetingroomapp.com/website/uploads/2020/11/03093137/cropped-MRA-FAVICON-512-5.png"
      alt="logo" id="logo" />
    <h4 id="logo-txt" routerLink="/home/2">TechBook</h4>
  </div>

  <form class="form-inline d-flex gap-1" (submit)="filteredTechnicians()">
    <input class="form-control mr-sm-3" style="width: 350px" type="text" placeholder="Search...."
      aria-label="Search" #search>
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" data-toggle="modal"
      data-target="#exampleModalLong">Search</button>
  </form>

  <div class="d-flex align-items-center gap-3">
    <ul>
      <div class="dropdown">
        <button style="background: none; border: none;" class=" dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/electrician">Electrical Service Technician</a>
          <a class="dropdown-item" routerLink="/it">IT Technician</a>
          <a class="dropdown-item" routerLink="/computer">Computer Technician</a>
          <a class="dropdown-item" routerLink="/water">Water Technician</a>
          <a class="dropdown-item" routerLink="/automotive">Automotive Technician</a>
          <a class="dropdown-item" routerLink="/automotive">Medical Equipment Technician</a>
        </div>
      </div>
      <li routerLink="/request/2">Request</li>
      <li routerLink="/transactions/2">Transactions</li>
      <li routerLink="/settings/2">Settings</li>
      <i class="fa-solid fa-bell" routerLink="/notifications/2"></i>
    </ul>
    <button class="btn" routerLink="/login" *ngIf="loggedIn" (click)="logOut()">LOGOUT</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" style="width: 100%;" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document" class="modal-dialog modal-lg" #modalSearch>

    <div class="modal-content" style="width:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">See Results</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row ng-scope">
            <!-- <div class="col-md-3 col-md-push-9">
              <h4>Results <span class="fw-semi-bold">Filtering</span></h4>

            </div> -->
            <div class="col-md-10 col-md-pull-3">
              <p class="search-results-count">About {{ countTechnician }} results</p>
              <section class="search-result-item" *ngFor="let tech of filteredtechnicians;let i = index">
                <div style="display: none;"></div>
                <div id="{{ i }}" >
                  <a class="image-link rounded-circle" href="#"><img class="image"
                      src="{{ imageTechnicianDirectory }}{{ tech.image }}">
                  </a>
                  <div class="search-result-item-body">
                    <div class="row">
                      <div class="col-sm-9">
                        <h2 class="search-result-item-heading " style="font-weight: bold;"><a href="">{{ tech.name }}</a>
                        </h2>
                        <p class="info">Location: {{ tech.address }}</p>
                        <p class="info">Phone: {{ tech.phone }}</p>
                        <p class="info">Email: {{ tech.email }}</p>







                      </div>
                      <div class="col-sm-3 text-align-center">
                        <a class="btn btn-primary btn-info btn-sm" style="color: white;" (click)="showRequest( tech.email )">Send Request</a>
                      </div>
                    </div>
                  </div>

                </div>

              </section>

              <div class="text-align-center">
                <ul class="pagination pagination-sm">
                  <li class="disabled"><a href="">Prev</a>
                  </li>
                  |
                  <li><a href=" ">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
